html{
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	color: #fff;
	background-color: #F48E59;
	background-color: #000; 
}

body{

}

header{

}

h1{
	font-size: 48pt;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
}

h2{
	font-size: 18pt;
	text-transform: uppercase;
	text-align: center;
	margin-top: 5px;
}

#content{
	text-align: center;
}

#album-cover{
	margin-top: 25px;
	max-width: 512px;
	max-height: 512px;
	box-shadow: 1px 1px 10px white;
}