html{
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	color: #fff;
	background-color: #F48E59;
	background-color: #000; 
}

body{

}

header{

}

h1{
	font-size: 48pt;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
}

h2{
	font-size: 18pt;
	text-transform: uppercase;
	text-align: center;
	margin-top: 5px;
}

input{
	margin: 0;
	padding: 0;
	display: inline;
}

label{
	margin: 0;
	padding: 0;
	display: inline;
}

#content{
	text-align: center;
}

#album-cover{
	margin-top: 25px;
	max-width: 512px;
	max-height: 512px;
	/*box-shadow: 1px 1px 10px white;*/
	border: 3px groove white;
}

html, body { margin: 0px; padding: 0px; border: 0px; }

.btn{
	background-color: black;
	color: white;
	text-align: center;
	border: 2px solid white;
	border-radius: 10px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12pt;
	text-transform: uppercase;
	padding: 3px;
}

.btn:hover{
	background-color: white;
	color: black;
}

.btn:focus{
	background-color: white;
	color: black;
}

.btn:active{
	background-color: white;
	color: black;
}

.pointer{
	cursor: pointer;
}

#change-img{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#img-label{
	border-radius: 10px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 2px;
}

.alt-download{
	font-size: 6pt;
	font-style: italic;
}

#alt-download-mobile{
	display: none;
}

@media all and (max-width: 600px) {
	#alt-download-web{
		display: none;
	}
	#alt-download-mobile{
		display: inline;
	}
	h1{
		font-size: 18pt;
	}
	h2{
		font-size: 10pt;
	}
	#album-cover{
		max-height: 250px;
		max-width: 250px;
		min-width: 250px;
		min-height: 250px;
	}
}